koreayo_content_explorer_with_slack.json
{
  "name": "Koreayo Content Explorer - Auto Discovery with Slack Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "id": "3788e81a-25e2-45b5-8043-7c7e1a2468c5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "QUEUE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o/edit#gid=0"
        },
        "options": {}
      },
      "id": "e0319a51-88e3-475a-a635-fe6401bc0650",
      "name": "Read Existing QUEUE",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXIFz6a25EZv0J0R",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 699078504,
          "mode": "list",
          "cachedResultName": "TAXONOMY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o/edit#gid=699078504"
        },
        "options": {}
      },
      "id": "fa58d37e-5368-4727-94cf-63160e0d6946",
      "name": "Read TAXONOMY",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXIFz6a25EZv0J0R",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "id": "05674e70-b03f-4143-a129-6e6424999766",
      "name": "Wait for All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        208,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// QUEUE와 TAXONOMY 데이터 가져오기\nconst queueItems = $items('Read Existing QUEUE');\nconst taxonomyItems = $items('Read TAXONOMY');\n\n// 에러 체크\nif (!queueItems || queueItems.length === 0) {\n  throw new Error('Failed to read QUEUE data from Google Sheets');\n}\nif (!taxonomyItems || taxonomyItems.length === 0) {\n  throw new Error('Failed to read TAXONOMY data from Google Sheets');\n}\n\n// TAXONOMY에서 각 컬럼의 허용 값 추출\nconst taxonomy = {};\nconst columns = ['status', 'priority', 'category', 'target_type', 'content_type', 'search_intent', 'language', 'geo_scope', 'monetization_path', 'freshness_level', 'source_needed', 'internal_cluster', 'subcategory'];\n\ncolumns.forEach(col => {\n  taxonomy[col] = taxonomyItems\n    .map(item => item.json[col])\n    .filter(v => v !== undefined && v !== null && String(v).trim() !== '')\n    .map(v => String(v).trim());\n});\n\n// 기존 QUEUE에서 이미 다룬 키워드들 추출\nconst existingKeywords = queueItems\n  .map(item => item.json.seed_keyword || '')\n  .filter(k => k.trim() !== '')\n  .map(k => k.toLowerCase().trim());\n\nconst existingCategories = queueItems\n  .map(item => item.json.category || '')\n  .filter(c => c.trim() !== '');\n\n// 카테고리별 콘텐츠 수 계산\nconst categoryCounts = {};\nexistingCategories.forEach(cat => {\n  categoryCounts[cat] = (categoryCounts[cat] || 0) + 1;\n});\n\n// 가장 적게 다룬 카테고리 찾기\nconst validCategories = taxonomy.category || [];\nconst underrepresented = validCategories\n  .map(cat => ({ category: cat, count: categoryCounts[cat] || 0 }))\n  .sort((a, b) => a.count - b.count)\n  .slice(0, 3)\n  .map(c => c.category);\n\n// 최근 추가된 키워드 샘플 (중복 방지용)\nconst recentKeywordsSample = existingKeywords.slice(-50).join(', ');\n\nreturn [{\n  json: {\n    existing_keywords_sample: recentKeywordsSample,\n    underrepresented_categories: underrepresented.join(', '),\n    total_queue_count: queueItems.length,\n    category_distribution: JSON.stringify(categoryCounts),\n    taxonomy: JSON.stringify(taxonomy)\n  }\n}];"
      },
      "id": "fc63a803-bb0b-407f-9864-da0c55e2db05",
      "name": "Analyze Queue & Taxonomy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY || 'YOUR_API_KEY_HERE' }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-sonnet-4-20250514\",\n  max_tokens: 4096,\n  messages: [\n    {\n      role: \"user\",\n      content: `You are an expert content strategist specializing in expat life challenges in South Korea. You have deep knowledge of the daily struggles, bureaucratic hurdles, cultural nuances, and practical difficulties that foreigners face while living in Korea.\n\n## Your Mission\nDiscover unique, problem-solving content topics for Koreayo, a platform serving foreigners living in Korea. Identify the \"hidden\" challenges—frustrations people don't talk about until they experience them, systems that seem impenetrable, and cultural gaps that create real daily friction.\n\n## CRITICAL: Use ONLY these TAXONOMY values:\n${$json.taxonomy}\n\n## Content Discovery Principles\n\n### AVOID These Obvious Topics:\n- Basic Korean phrases for tourists\n- How to use the subway\n- Popular Korean foods to try\n- Generic visa information easily found on embassy websites\n- K-pop and K-drama recommendations\n- Generic \"culture shock\" articles\n\n### FOCUS On These Problem-Solving Areas:\n1. **Administrative Nightmares**: Specific forms, processes, bureaucratic loops not documented in English\n2. **Healthcare Navigation**: Insurance claims, specialist referrals, mental health access, dental procedures\n3. **Housing Realities**: Jeonse/wolse negotiations, dealing with landlords, what to do when things break, moving out procedures\n4. **Financial Traps**: Hidden fees, tax filing as a foreigner, pension refunds, sending money abroad efficiently\n5. **Workplace Dynamics**: Unwritten rules, how to handle 회식, contract issues, dealing with discrimination\n6. **Legal Gray Zones**: What to do in accidents, understanding contracts, consumer rights\n7. **Daily Life Friction**: Delivery app issues, returning items, complaint processes, getting repairs done\n\n## Quality Standards\n- Every topic must solve a real, specific problem\n- Avoid generalities—\"Understanding Korean culture\" is too broad; \"What your Korean coworker actually means when they say '생각해볼게요'\" is specific\n- Prioritize topics where bad information or no information causes real harm (financial loss, legal trouble, relationship damage)\n- Think about what would make someone say \"I wish I knew this before...\"\n\n## Current Queue Context:\n- Total topics in queue: ${$json.total_queue_count}\n- Underrepresented categories (FOCUS HERE): ${$json.underrepresented_categories}\n- Category distribution: ${$json.category_distribution}\n- Recent keywords to AVOID duplicating: ${$json.existing_keywords_sample}\n\n## Requirements:\n1. DO NOT duplicate any existing keywords listed above\n2. Focus on underrepresented categories: ${$json.underrepresented_categories}\n3. Use ONLY values from the TAXONOMY provided above\n4. Each topic must solve a specific, real problem\n5. Mix different target_types and content_types\n\n## Output Format\nReturn EXACTLY 5 unique topics in valid JSON:\n{\n  \"topics\": [\n    {\n      \"seed_keyword\": \"English search keyword\",\n      \"seo_title_hint\": \"Clean title, NO colons or dashes, only commas and ? allowed\",\n      \"problem_angle\": \"Specific problem this solves\",\n      \"target_type\": \"FROM TAXONOMY ONLY\",\n      \"content_type\": \"FROM TAXONOMY ONLY\",\n      \"category\": \"FROM TAXONOMY ONLY\",\n      \"subcategory\": \"FROM TAXONOMY ONLY\",\n      \"search_intent\": \"FROM TAXONOMY ONLY\",\n      \"priority\": 1-5,\n      \"freshness_level\": \"FROM TAXONOMY ONLY\",\n      \"source_needed\": \"FROM TAXONOMY ONLY\",\n      \"source_note\": \"official sources if needed\",\n      \"monetization_path\": \"FROM TAXONOMY ONLY\",\n      \"internal_cluster\": \"FROM TAXONOMY ONLY\",\n      \"note\": \"why this topic matters for expats\"\n    }\n  ],\n  \"discovery_theme\": \"brief explanation of the pattern or theme discovered\"\n}\n\nReturn valid JSON only, no additional text.`\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "9aa7e9dc-bfb8-48eb-b008-2c2d8777fd3f",
      "name": "Claude API Discover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// TAXONOMY 데이터 가져오기 (검증용)\nconst analysisData = $items('Analyze Queue & Taxonomy')[0]?.json || {};\nconst taxonomy = JSON.parse(analysisData.taxonomy || '{}');\n\n// Anthropic API 응답에서 텍스트 추출\nconst response = $input.first().json;\nlet content = '';\n\n// 에러 체크\nif (response.error) {\n  throw new Error(`Claude API Error: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\n// Anthropic API 응답 형식: { content: [{ type: 'text', text: '...' }] }\nif (response.content && Array.isArray(response.content)) {\n  const textBlock = response.content.find(block => block.type === 'text');\n  content = textBlock?.text || '';\n} else if (typeof response === 'string') {\n  content = response;\n} else {\n  content = JSON.stringify(response);\n}\n\nif (!content || content.trim() === '') {\n  throw new Error('Claude API returned empty response');\n}\n\nfunction extractJson(text) {\n  const cleaned = String(text || '')\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first === -1 || last === -1) throw new Error('No JSON found in Claude response');\n  return JSON.parse(cleaned.slice(first, last + 1));\n}\n\n// 값 검증 함수\nfunction validateField(value, allowedValues, fieldName, defaultValue) {\n  if (!allowedValues || allowedValues.length === 0) return value || defaultValue;\n  const strValue = String(value || '').trim();\n  if (allowedValues.includes(strValue)) return strValue;\n  // 대소문자 무시 매칭 시도\n  const lowerValue = strValue.toLowerCase();\n  const match = allowedValues.find(v => v.toLowerCase() === lowerValue);\n  if (match) return match;\n  console.log(`Warning: Invalid ${fieldName} '${value}', using default '${defaultValue}'`);\n  return defaultValue;\n}\n\nconst data = extractJson(content);\n\nif (!data.topics || !Array.isArray(data.topics)) {\n  throw new Error('Invalid response: topics array not found');\n}\n\nif (data.topics.length === 0) {\n  throw new Error('Claude returned empty topics array');\n}\n\nconst today = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst generatedAt = new Date().toISOString();\nconst discoveryTheme = data.discovery_theme || '';\n\n// 기본값 설정\nconst defaults = {\n  category: taxonomy.category?.[0] || 'Housing',\n  target_type: taxonomy.target_type?.[0] || 'newcomer',\n  content_type: taxonomy.content_type?.[0] || 'how-to',\n  search_intent: taxonomy.search_intent?.[0] || 'informational',\n  language: 'en',\n  geo_scope: taxonomy.geo_scope?.[0] || 'Korea',\n  monetization_path: taxonomy.monetization_path?.[0] || 'adsense',\n  freshness_level: taxonomy.freshness_level?.[0] || 'low',\n  source_needed: taxonomy.source_needed?.[0] || 'no',\n  internal_cluster: taxonomy.internal_cluster?.[0] || 'visa',\n  subcategory: taxonomy.subcategory?.[0] || 'renting'\n};\n\n// 각 토픽을 개별 아이템으로 변환 (TAXONOMY 검증 적용)\nreturn data.topics.map((topic, idx) => {\n  const topicId = `KRY-AUTO-${today}-${String(idx + 1).padStart(3, '0')}`;\n  \n  // SEO 타이틀에서 특수문자 제거\n  let cleanTitle = (topic.seo_title_hint || '').replace(/[:*#|\\[\\]\"'\\-\\u2013\\u2014]/g, '').replace(/\\s+/g, ' ').trim();\n  \n  // priority 검증 (1-5)\n  let priority = parseInt(topic.priority) || 3;\n  if (priority < 1) priority = 1;\n  if (priority > 5) priority = 5;\n  \n  return {\n    json: {\n      topic_id: topicId,\n      status: 'queued',\n      priority: priority,\n      category: validateField(topic.category, taxonomy.category, 'category', defaults.category),\n      subcategory: validateField(topic.subcategory, taxonomy.subcategory, 'subcategory', defaults.subcategory),\n      seed_keyword: topic.seed_keyword || '',\n      problem_angle: topic.problem_angle || '',\n      target_type: validateField(topic.target_type, taxonomy.target_type, 'target_type', defaults.target_type),\n      content_type: validateField(topic.content_type, taxonomy.content_type, 'content_type', defaults.content_type),\n      search_intent: validateField(topic.search_intent, taxonomy.search_intent, 'search_intent', defaults.search_intent),\n      language: validateField(topic.language || 'en', taxonomy.language, 'language', defaults.language),\n      geo_scope: validateField(topic.geo_scope || 'Korea', taxonomy.geo_scope, 'geo_scope', defaults.geo_scope),\n      monetization_path: validateField(topic.monetization_path, taxonomy.monetization_path, 'monetization_path', defaults.monetization_path),\n      freshness_level: validateField(topic.freshness_level, taxonomy.freshness_level, 'freshness_level', defaults.freshness_level),\n      source_needed: validateField(topic.source_needed, taxonomy.source_needed, 'source_needed', defaults.source_needed),\n      source_note: topic.source_note || '',\n      internal_cluster: validateField(topic.internal_cluster, taxonomy.internal_cluster, 'internal_cluster', defaults.internal_cluster),\n      seo_title_hint: cleanTitle,\n      note: `[Auto-discovered] ${topic.note || ''} | Theme: ${discoveryTheme}`,\n      retry_count: 0,\n      qa_score: '',\n      qa_decision: '',\n      published_url: '',\n      last_error: '',\n      next_retry_at: ''\n    }\n  };\n});"
      },
      "id": "31d0b11a-6806-496d-8f3b-b1ea2cc8d1ff",
      "name": "Parse & Validate Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 기존 QUEUE 데이터 가져오기\nconst queueItems = $items('Read Existing QUEUE');\nconst newTopics = $input.all();\n\n// 기존 키워드 추출 (전체)\nconst existingKeywords = queueItems\n  .map(item => (item.json.seed_keyword || '').toLowerCase().trim())\n  .filter(k => k !== '');\n\n// 기존 SEO 타이틀 추출\nconst existingSeoTitles = queueItems\n  .map(item => (item.json.seo_title_hint || '').toLowerCase().trim())\n  .filter(t => t !== '');\n\n// 불용어 (비교시 제외)\nconst stopWords = new Set(['how', 'to', 'in', 'korea', 'korean', 'for', 'foreigners', 'the', 'a', 'an', 'and', 'or', 'of', 'is', 'are', 'what', 'when', 'where', 'why', 'can', 'do', 'does', 'your', 'my', 'as']);\n\n// 핵심 단어 추출 함수\nfunction extractCoreWords(text) {\n  return text.toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .split(/\\s+/)\n    .filter(w => w.length > 2 && !stopWords.has(w));\n}\n\n// 유사도 체크 함수 (Jaccard 유사도)\nfunction calculateSimilarity(words1, words2) {\n  if (words1.length === 0 || words2.length === 0) return 0;\n  const set1 = new Set(words1);\n  const set2 = new Set(words2);\n  const intersection = [...set1].filter(w => set2.has(w)).length;\n  const union = new Set([...set1, ...set2]).size;\n  return intersection / union;\n}\n\n// 중복 체크 및 필터링\nconst uniqueTopics = [];\nconst duplicates = [];\n\nfor (const topic of newTopics) {\n  const newKeyword = (topic.json.seed_keyword || '').toLowerCase().trim();\n  const newTitle = (topic.json.seo_title_hint || '').toLowerCase().trim();\n  const newCoreWords = extractCoreWords(newKeyword + ' ' + newTitle);\n  \n  let isDuplicate = false;\n  let duplicateReason = '';\n  \n  // 1. 정확히 일치하는 키워드 체크\n  if (existingKeywords.includes(newKeyword)) {\n    isDuplicate = true;\n    duplicateReason = `Exact keyword match: \"${newKeyword}\"`;\n  }\n  \n  // 2. 기존 키워드와 유사도 체크 (70% 이상이면 중복)\n  if (!isDuplicate) {\n    for (const existing of existingKeywords) {\n      const existingCoreWords = extractCoreWords(existing);\n      const similarity = calculateSimilarity(newCoreWords, existingCoreWords);\n      if (similarity >= 0.7) {\n        isDuplicate = true;\n        duplicateReason = `Similar to existing (${Math.round(similarity * 100)}%): \"${existing}\"`;\n        break;\n      }\n    }\n  }\n  \n  // 3. 기존 SEO 타이틀과 유사도 체크\n  if (!isDuplicate) {\n    for (const existingTitle of existingSeoTitles) {\n      const existingCoreWords = extractCoreWords(existingTitle);\n      const similarity = calculateSimilarity(newCoreWords, existingCoreWords);\n      if (similarity >= 0.7) {\n        isDuplicate = true;\n        duplicateReason = `Similar SEO title (${Math.round(similarity * 100)}%): \"${existingTitle}\"`;\n        break;\n      }\n    }\n  }\n  \n  // 4. 이번 배치 내 중복 체크\n  if (!isDuplicate) {\n    for (const accepted of uniqueTopics) {\n      const acceptedKeyword = (accepted.json.seed_keyword || '').toLowerCase().trim();\n      const acceptedCoreWords = extractCoreWords(acceptedKeyword);\n      const similarity = calculateSimilarity(newCoreWords, acceptedCoreWords);\n      if (similarity >= 0.7) {\n        isDuplicate = true;\n        duplicateReason = `Duplicate within batch: \"${acceptedKeyword}\"`;\n        break;\n      }\n    }\n  }\n  \n  if (isDuplicate) {\n    duplicates.push({\n      keyword: newKeyword,\n      reason: duplicateReason\n    });\n  } else {\n    uniqueTopics.push(topic);\n  }\n}\n\n// 로그 출력\nconsole.log('=== Duplicate Filter Results ===');\nconsole.log(`Total new topics: ${newTopics.length}`);\nconsole.log(`Unique topics: ${uniqueTopics.length}`);\nconsole.log(`Filtered duplicates: ${duplicates.length}`);\nduplicates.forEach(d => console.log(`  - ${d.keyword}: ${d.reason}`));\n\n// 유니크한 토픽만 반환 (없으면 빈 배열)\nif (uniqueTopics.length === 0) {\n  // 모두 중복이면 빈 아이템 반환 (워크플로우 계속 진행되도록)\n  return [];\n}\n\nreturn uniqueTopics;"
      },
      "id": "29ce045f-e735-4748-8cbf-eb159f99f599",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "QUEUE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iKpcjzmkQXKKD9L_eB59Ltfr0eylapI0CTWBc06Zz6o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "topic_id",
              "displayName": "topic_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subcategory",
              "displayName": "subcategory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seed_keyword",
              "displayName": "seed_keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "problem_angle",
              "displayName": "problem_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_type",
              "displayName": "target_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_intent",
              "displayName": "search_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "geo_scope",
              "displayName": "geo_scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monetization_path",
              "displayName": "monetization_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "freshness_level",
              "displayName": "freshness_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_needed",
              "displayName": "source_needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_note",
              "displayName": "source_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internal_cluster",
              "displayName": "internal_cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seo_title_hint",
              "displayName": "seo_title_hint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "29ddde55-00ab-432e-9f65-ebe6c95d6a1a",
      "name": "Append to QUEUE",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MXIFz6a25EZv0J0R",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#koreayobot",
          "mode": "name"
        },
        "text": "=:white_check_mark: *콘텐츠 자동 발굴 완료*\n\n*발굴된 토픽 수:* {{ $input.all().length }}개\n*실행 시간:* {{ new Date().toISOString() }}\n\n*새로 추가된 키워드:*\n{{ $input.all().map(item => '• ' + item.json.seed_keyword + ' (' + item.json.category + ')').join('\\n') }}\n\n_다음 발굴은 2일 후 자동 실행됩니다._",
        "otherOptions": {}
      },
      "id": "slack-success-discovery",
      "name": "Slack Success Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1408,
        112
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#koreayobot",
          "mode": "name"
        },
        "text": "=:x: *콘텐츠 자동 발굴 실패*\n\n*실패 단계:* {{ $json.failedNode || 'Unknown' }}\n*에러 메시지:* {{ $json.errorMessage || 'No error message available' }}\n*실행 시간:* {{ new Date().toISOString() }}\n\n*에러 상세:*\n```\n{{ JSON.stringify($json, null, 2).substring(0, 500) }}\n```\n\n_워크플로우를 확인해주세요._",
        "otherOptions": {}
      },
      "id": "slack-fail-discovery",
      "name": "Slack Fail Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 에러 정보 수집\nconst errorInfo = {\n  failedNode: $execution.customData?.get?.('lastNode') || 'Unknown',\n  errorMessage: 'Workflow execution failed',\n  executionId: $execution.id,\n  timestamp: new Date().toISOString(),\n  mode: $execution.mode\n};\n\n// 이전 노드들의 에러 확인\ntry {\n  const allItems = $input.all();\n  if (allItems.length > 0) {\n    const lastItem = allItems[allItems.length - 1];\n    if (lastItem.json?.error) {\n      errorInfo.errorMessage = lastItem.json.error.message || JSON.stringify(lastItem.json.error);\n    }\n  }\n} catch (e) {\n  errorInfo.errorMessage = e.message || 'Unknown error';\n}\n\nreturn [{ json: errorInfo }];"
      },
      "id": "error-handler-code",
      "name": "Build Error Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-error-check",
              "leftValue": "={{ $json.error !== undefined || $input.all().length === 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-for-errors",
      "name": "Check For Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Existing QUEUE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read TAXONOMY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing QUEUE": {
      "main": [
        [
          {
            "node": "Wait for All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TAXONOMY": {
      "main": [
        [
          {
            "node": "Wait for All",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All": {
      "main": [
        [
          {
            "node": "Analyze Queue & Taxonomy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Queue & Taxonomy": {
      "main": [
        [
          {
            "node": "Claude API Discover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API Discover": {
      "main": [
        [
          {
            "node": "Parse & Validate Topics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Topics": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Append to QUEUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to QUEUE": {
      "main": [
        [
          {
            "node": "Slack Success Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Info": {
      "main": [
        [
          {
            "node": "Slack Fail Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "instanceId": "ee989ede9537754fe0030eac397632b4549d76b1e1027ad0d4c69439a8dc2c10"
  }
}
